#case{
	display: inline-block;
}

.pion{
	position:absolute;
  margin-left: -32px;
	margin-top: -2px;
}

#plateau{
  display:none;
	text-align: center;
  margin-top:75px;
}

#launch{
	display:block;
	margin:auto;
	margin-top: 150px;
}

#debut_partie{
  display:block;
  margin:auto;
  margin-top:30px;
}

#playagain{
  display:block;
  margin:auto;
  margin-top:30px;
}

#cartes{
  text-align: center;
}

.carte{
  display:inline-block;
}

#title_card{
  text-align:center;
}

#card_name{
  text-align:center;
  font-size: 22px;
}

#text_load{
  text-align:center;
  margin-top:15%;
  font-size:26px;
}

#cancel{
  display:block;
  margin:auto;
}

#resultat{
  text-align: center;
}

#victoire{
  color:green;
}

#defaite{
  color:red;
}

#prog_meringue{
  background-color:#E2BE0C;
}

#prog_cerise{
  background-color:#D1013F;
}

#level{
  font-size:18px;
  margin-top:20px;
  text-align: center;
}

.right_move{
  color:red;
}

#anim_option{
  margin-top: 15px;
}

#mobile_controls{
  margin-top 10px;
  text-align: center;
}