@import url(//fonts.googleapis.com/css?family=Oswald:400);

body{
    background-color: #ebebeb;
}

@font-face {
    font-family: 'harryp';
    src: url('../fonts/harryp.TTF');
}

/* Classes */

.img-center{
  margin-left: auto;
  margin-right: auto;
}

.harrypotter{
    font-family: "harryp";
}

.alert-dismissable {
    border-radius: 0;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.13);
    font-size: 18px;
    position: absolute;
    z-index: 1200;
    top: 69px;
    left: 0;
    margin: auto;
    right: 0;
    width: 55%;
    min-width: 358px;
    padding: 15px 39px;
}

.uppercase{
  text-transform: uppercase;
}

.blue{
    color: #2199e8;
}

.main-title{
    font-size:32px;
}

.category{
    font-size:64px;
}

.no-caps{
  text-transform: none !important;
}

.no-padding{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

/* Ajout options responsives pour BS */

@media screen and (max-width: 768px) {
    .visible-xs-inline { display: inline-block !important; }
}

@media screen and (min-width: 768px) {
    .visible-xs-inline { display: none !important; }
}

@media (max-width: 767px) {
    .text-xs-left { text-align: left; }
    .text-xs-right { text-align: right; }
    .text-xs-center { text-align: center; }
    .text-xs-justify { text-align: justify; }
}

@media (min-width: 768px) and (max-width: 991px) {
    .text-sm-left { text-align: left; }
    .text-sm-right { text-align: right; }
    .text-sm-center { text-align: center; }
    .text-sm-justify { text-align: justify; }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .text-md-left { text-align: left; }
    .text-md-right { text-align: right; }
    .text-md-center { text-align: center; }
    .text-md-justify { text-align: justify; }
}

@media (min-width: 1200px) {
    .text-lg-left { text-align: left; }
    .text-lg-right { text-align: right; }
    .text-lg-center { text-align: center; }
    .text-lg-justify { text-align: justify; }
}

/* Fin classes */

/* liens */


.navbar-nav>li>a{
    color: #2199e8 !important;
}

#menu_hp{
    margin-bottom: 0px;
}

.nav>li>a{
    color: #2199e8 !important;
    padding: 15px 25px;
}

/* box contenu */
.navbar-nav{
    color: #2199e8;
}

.navbar-brand{
    color: #2199e8 !important;
}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

#home-next{
  /*background-image: linear-gradient(#1e2126,#daeeec 45%);*/
  background-color:#daeeec;
}

#sec_home_1{
  padding: 20px;
  background-color: #d2d2d2;
}

.img_home{
  height:100px;
  width:100px;
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

#choco_home{
  height: 100px;
  width: 100px;
  background-color:transparent !important;
}

#carte_choco_home{
  font-size: 21px;
}

#list_ingredients{
  text-align:center;
  margin-top: 18px;
}

.ingredient_home{
  width:32px;
  height:32px;
}

.badge{
  background-color: #4090d6 !important;
}

.closeperso{
  position:absolute;
  right:0px;
  margin-top: -15px !important;
  margin-right: 10px;
}

#modal_ingredient{
  width:32px;
  height:32px;
}

#title_category{
  font-size:40px;
  margin:15px 0px 15px;
}

/* Page de guide */


/* SMALL VERSION */
.update-nag{
  display: inline-block;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  height: 40px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
  margin-bottom: 10px;
  width:100%;
}

.update-nag:hover{
    cursor: pointer;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.4);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.3);
}

.update-nag > .update-split{
  background: #337ab7;
  width: 33px;
  float: left;
  color: #fff!important;
  height: 100%;
  text-align: center;
}

.update-nag > .update-split > .glyphicon{
  position:relative;
  top: calc(50% - 9px)!important; /* 50% - 3/4 of icon height */
}

.update-nag > .update-split > .fa{
  position:relative;
  top: calc(50% - 9px)!important; /* 50% - 3/4 of icon height */
}

.update-nag > .update-split.update-success{
  background: #5cb85c!important;
}

.update-nag > .update-split.update-danger{
  background: #d9534f!important;
}

.update-nag > .update-split.update-info{
  background: #5bc0de!important;
}

.update-nag > .update-text{
  line-height: 19px;
  padding-top: 11px;
  padding-left: 45px;
  padding-right: 20px;
}

/* BIG VERSION */

.main_category{
  -webkit-filter: brightness(80%);
     -moz-filter: brightness(80%);
      -ms-filter: brightness(80%);
       -o-filter: brightness(80%);
          filter: brightness(80%);
}

.main_category:hover{
  -webkit-filter: brightness(100%);
     -moz-filter: brightness(100%);
      -ms-filter: brightness(100%);
       -o-filter: brightness(100%);
          filter: brightness(100%);
}

.update-nag-4x{
  height:auto !important;
}

.bloc_guide_blue{
  background:#337ab7!important;
  padding:15px;
  color:white;
  margin:15px;
  cursor:pointer;
}

.bloc_guide_green{
  background:#5cb85c!important;
  padding:15px;
  color:white;
  margin:15px;
  cursor:pointer;
}
.update-split-4x{
  width:auto !important;
  padding: 15px !important;
  background: #337ab7;
}

.guide-text-category{
  line-height: 19px;
  padding-top: 11px;
}

/* Fin page de guide */

/*
Fade content bs-carousel with hero headers
Code snippet by maridlcrmn (Follow me on Twitter @maridlcrmn) for Bootsnipp.com
Image credits: unsplash.com
*/

/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
    position: relative;
    height: calc( 100vh - 50px);
    /*top: -23px;*/
}
.fade-carousel .carousel-inner .item {
    height: calc( 100vh - 50px);
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/
.text_hero{
  position:absolute;
  top:0%;
  z-index: 5;
  width:100%;
}
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 6em;    
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s;    
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
    position: absolute;
    width: 100%;
    background-color: #080d15;
    opacity: .7;
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #1abc9c;
    border-color: #1abc9c;
    outline: none;
    margin: 20px auto;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3,
.fade-carousel .slides .slide-4 {
  height: calc( 100vh - 50px);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
  background-image: url(../../media/background/bg_home.jpg);
}

.fade-carousel .slides .slide-guide{
  background-image: url(../../media/background/bg_guide.jpg);
}
.fade-carousel .slides .slide-2 {
  background-image: url(../../media/background/bg_guide.jpg);
}
.fade-carousel .slides .slide-3 {
  background-image: url(../../media/background/bg_subscribe.png);
}

.fade-carousel .slides .slide-4 {
  background-image: url(../../media/background/bg_rank.jpg);
}

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero { width: 980px; }    
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; }    
}

/********************************/
/*           Boxes Home         */
/********************************/

.box {
    background:white;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 10px 25px;
    text-align: right;
    display: block;
    margin-top: 60px;
}
.box-icon {
    /*background-color: #57a544;*/
    border-radius: 50%;
    display: table;
    height: 100px;
    margin: 0 auto;
    width: 100px;
    margin-top: -61px;
}
.box-icon span {
    color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.info h4 {
    font-size: 26px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.info > p {
    color: #717171;
    font-size: 16px;
    padding-top: 10px;
    text-align: justify;
}
.info > a {
    background-color: #03a9f4;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}
.info > a:hover {
    background-color: #0288d1;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}

#sub_content{
  /*margin-top: calc( 50vh - 50px);*/
  margin-top:20vh;
  transform: translateY(-50%); 
}

#parchemin{
  position:absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

input.champs_lettre{
  font-weight: bold;
  padding-left: 8px;
  border: 1px solid #999;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  font-family: "Roboto", "Droid Sans", sans-serif;
  font-size: 14px;
  outline: none;
  border: none;
  background: bottom left linear-gradient(#a9a9a9, #a9a9a9) no-repeat, bottom center linear-gradient(#a9a9a9, #a9a9a9) repeat-x, bottom right linear-gradient(#a9a9a9, #a9a9a9) no-repeat;
  background-size: 0px 0px, 0px 0px, 0px 0px;
}
input.champs_lettre:hover, input.champs_lettre:focus {
  background: bottom left linear-gradient(#0099cc, #0099cc) no-repeat, bottom center linear-gradient(#0099cc, #0099cc) repeat-x, bottom right linear-gradient(#0099cc, #0099cc) no-repeat;
  background-size: 0px 0px, 0px 0px, 0px 0px; 
}

.hp-input-addon{
  background: bottom left linear-gradient(#a9a9a9, #a9a9a9) no-repeat, bottom center linear-gradient(#a9a9a9, #a9a9a9) repeat-x, bottom right linear-gradient(#a9a9a9, #a9a9a9) no-repeat;
  background-size: 0px 0px, 0px 0px, 0px 0px;
}


/********************************/
/*           Rank table         */
/********************************/



/********************************/
/*      Style global page       */
/********************************/

#zone_container{
  background: #222428;
  min-height: 250px;
  width:100%;
  margin-bottom: 20px;
  position:relative;
}

.line-center{
  line-height: 250px;
}

@import url(//fonts.googleapis.com/css?family=Oswald:400);
.zone_title{
  
  font-family: "Oswald", sans-serif;
  color: #292929;
  text-align: center;
  margin: 20px 0;
  text-transform: uppercase;

}

.oswald{
  font-family: "Oswald", sans-serif;
}
/********************************/
/*          Animaux CSS         */
/********************************/

.cadrehibou{
  width:200px;
  height: 300px;
  box-shadow: 3px 2px 10px 3px;
  position:relative;
  display:inline-block;
  margin-right:18px;
  margin-bottom:40px;
  margin-left:26px;
  text-align:center;
  background-image: url(../../assets/img/fond1.png);
}

.cadrehibou2{
  width:200px;
  height: 300px;
  box-shadow: 3px 2px 10px 3px;
  position:relative;
  display:inline-block;
  margin-right:18px;
  margin-bottom:40px;
  margin-left:26px;
  text-align:center;
  background-image: url(../../assets/img/fond11.png);
}

#cadreview_hibou{

  background-image: url(../../assets/img/fond2.png);
  width:200px;
  height:197px;
  box-shadow: 3px 2px 10px 3px;
  display:inline-block;
  margin-right:10px;
  margin-bottom:40px;
  margin-left:26px;
}

#cadreview_hibou2{

  background-image: url(../../assets/img/fond22.png);
  width:200px;
  height:197px;
  box-shadow: 3px 2px 10px 3px;
  display:inline-block;
  margin-right:10px;
  margin-bottom:40px;
  margin-left:26px;

}

#cadreview_hibou3{

  background-image: url(../../assets/img/fond2.png);
  width:200px;
  height:197px;
  box-shadow: 3px 2px 10px 3px;
  display:inline-block;
  margin-right:10px;
  margin-bottom:40px;
  margin-left:26px;

}

#cadreview_hibou3:hover{

  border: 2px double red;
  opacity:0.9;

}

#imageview_hibou {
  margin-top:30px;
 /* margin-left: 40px; */
}

#list_profile_hibou{
  text-align: center;
}

#nameview_hibou{
  margin-top:12px;
  font-size: 16px;
  color:white;
  text-shadow: 1px 1px 2px black; 
}

.croix{
  margin-left:166px;
  margin-top:4px;
  position: absolute; 
  border:0;
  display: block;
  width: 34px;
  height: 34px;
  background:url(../../assets/img/animaux/croixbefore.png) no-repeat;
  font-size:0px;
}

.textepigeon{

  margin-top:12px;
  color:white;
  text-shadow: 1px 1px 2px black;
  font-size:16px;
}

.textepigeonrare{

  margin-top: 12px;
  color: #F6DC12;
  text-shadow: 1px 1px 2px #CC5500;
  font-weight: bold;
  font-size: 15px;
}

.dispo2{
  color:#05c320;
  margin-top:12px;
  margin-bottom:12px;
  text-shadow: 2px 2px 1px black;
  font-size:16px;

}

.repos2{
  color:#de0304;
  text-shadow: 2px 2px 1px black;
  font-size:16px;
}

#hibouname{
  margin-top:10px;
}

#hibou{
  margin-top:30px;
  position:relative;
}

#list_hibou{
  text-align:center;
}

.send_button{
  margin-top: 4px;
  padding :8px 12px;
}

.timer{
  font-size:16px;
  color:white;
  text-shadow: 1px 1px 2px black; 
  margin-left:10px;
}

#pigeonnier{
  padding:30px;
  color:white;
  background-color: grey;
  margin: 15px 0px 15px;
  text-align:center;
}

#animation_reward{
  color:white;
  position:absolute;
  top: 10%;
  left: 35%;
  font-size:18px;
  animation-duration: 3s;
  text-shadow: 2px 2px 1px black;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#animation_ingredient{
  color:white;
  position:absolute;
  top: 40%;
  left: 60%;
  font-size:18px;
  animation-duration: 3s;
  text-shadow: 2px 2px 1px black;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#stat_g{
  display:inline-block;
  max-width:16px;
  max-height:16px;
}

#count-pigeonnier{
  color:white;
  font-size:18px;
}

/* left menu */
@media (max-width: 768px) {
    .navbar-fixed-side {
        margin-left: -15px;
        margin-right: -15px;
    }
}
@media (min-width: 768px) {
    .navbar-fixed-side {
        position: fixed;
        margin: 0 -15px;
        height: 100vh;
        width: inherit;
        overflow: auto;
        border-top-width: 0;
        border-bottom-width: 0;
        border-radius: 0;
    }
    .navbar-fixed-side .container,
    .navbar-fixed-side .container-fluid {
        width: auto;
        padding-left: 0;
        padding-right: 0;
    }
    .navbar-fixed-side .navbar-header {
        float: none;
    }
    .navbar-fixed-side .navbar-brand {
        height: auto;
    }
    .navbar-fixed-side>.container .navbar-brand,
    .navbar-fixed-side>.container-fluid .navbar-brand {
        margin-left: 0;
    }
    .navbar-fixed-side .navbar-collapse {
        width: 100%;
    }
    .navbar-fixed-side .navbar-nav {
        float: none;
        margin: 0 -15px;
    }
    .navbar-fixed-side .navbar-nav>li {
        float: none;
    }
    .navbar-fixed-side .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-fixed-side .navbar-form {
        margin: 0;
        margin-left: -15px;
        margin-right: -15px;
        padding: 10px 15px;
    }
    .navbar-fixed-side .navbar-text {
        float: none;
        margin-left: 0;
        margin-right: 0;
    }
    .navbar-fixed-side .navbar-left,
    .navbar-fixed-side .navbar-right {
        float: none !important;
    }
    .navbar-fixed-side .navbar-nav .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none;
    }
    .navbar-fixed-side .navbar-nav .dropdown-menu>li>a,
    .navbar-fixed-side .navbar-nav .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px;
    }
    .navbar-fixed-side .navbar-nav .dropdown-menu>li>a {
        line-height: 20px;
    }
    .navbar-fixed-side .navbar-nav .dropdown-menu>li>a:hover,
    .navbar-fixed-side .navbar-nav .dropdown-menu>li>a:focus {
        background-image: none;
    }
    .navbar-fixed-side .navbar-nav .dropdown-menu>.active>a {
        background-color: #e7e7e7;
        color: #555;
    }
    .navbar-fixed-side .navbar-nav>li>a:hover,
    .navbar-fixed-side .navbar-nav>li>a:focus,
    .navbar-fixed-side .navbar-nav .dropdown-menu>li>a:hover,
    .navbar-fixed-side .navbar-nav .dropdown-menu>li>a:focus {
        background-color: #f0f0f0;
        color: #333;
    }
    .navbar-fixed-side .dropdown>.dropdown-toggle,
    .navbar-fixed-side .dropdown-menu>.dropdown-header {
        background-color: transparent !important;
        color: #9d9d9d !important;
        cursor: default;
        font-size: 0.8em;
        text-transform: uppercase;
        border-bottom: none;
        padding-bottom: 0;
    }
    .navbar-fixed-side .dropdown-toggle .caret {
        display: none;
    }
    .navbar-fixed-side .dropdown-menu {
        display: block;
    }
    .navbar-fixed-side.navbar-inverse .navbar-collapse,
    .navbar-fixed-side.navbar-inverse .navbar-nav>li>a,
    .navbar-fixed-side.navbar-inverse .navbar-form,
    .navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu {
        border-color: #363636;
    }
    .navbar-fixed-side.navbar-inverse .divider {
        background-color: #363636;
    }
    .navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu>li>a {
        color: #9d9d9d;
    }
    .navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu>.active>a {
        background-color: #090909;
        color: #fff;
    }
    .navbar-fixed-side.navbar-inverse .navbar-nav>li:not(.active)>a:hover,
    .navbar-fixed-side.navbar-inverse .navbar-nav>li:not(.active)>a:focus,
    .navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu>li:not(.active)>a:hover,
    .navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu>li:not(.active)>a:focus {
        background-color: #2f2f2f;
        color: #fff;
    }

}

#left_part{
  background: #292929;
  /*#55a4d5;*/

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.champ_menu{
  color: white;
  line-height: 40px !important;
  font-weight: 600;
  padding: 14px 20px 14px 25px;
  transition: background-color 0.3s ease, padding-left 0.2s ease-out, color 0.3s ease;
}

.sub_champ_menu{
  color: white;
  padding-left: 80px !important;
  line-height: 30px !important;
  font-weight: 600;
  padding: 14px 20px 14px 25px;
  transition: background-color 0.3s ease, padding-left 0.2s ease-out, color 0.3s ease;
}

#menu_main{
  color:white !important;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 25px;
  text-decoration: none !important;

}

/*.navbar-nav>li>a{
  line-height: 40px;
}*/

.link_navbar{
  line-height: 40px;
}
.navbar-category > li > a {
  color: white !important;
  font-size:21px;
}

.sub-navbar-category{
  list-style: none;
}

.sub-navbar-category > li > a {
  color: white !important;
  font-size:16px;
}

.navbar-category > li > a:hover {
  background-color: #191818 !important;
  padding-left: 30px;
}

.sub-navbar-category > li > a:hover {
  background-color: #191818 !important;
  padding-left: 80px;
}

.navbar-category > li > a:focus {
  background-color: #191818 !important;
}

.sub-navbar-category > li > a:hover {
  background-color: #191818 !important;
  padding-left: 30px;
}

#menu_gallions{
  font-size:28px;
  color:white;
  font-weight: 600;
}

#img_gallion{
  width:28px;
  margin-bottom: 4px;
}

#logo_menu{
  width:145px;
  margin-left: auto;
  margin-right: auto;  
}

.nostyle{
  list-style-type: none;
}

.icon-bar{
  background-color: white !important;
}

.navbar-toggle:hover{
  background-color: #191818 !important;
}

.navbar-toggle:focus{
  background-color: #191818 !important;
}

#menu_pseudo{
  color:white;
  font-size: 32px;
}

#logo_menu_main{
  text-align: center;
}

#start_category{
  padding-top: 30px;
}

#gallion_display{
  margin-top:7px;
  text-align: center;
}

#head_menu{
  padding-right:30px;
}

#preview_obj{
  background: #222428;
  height:200px;
}

#img_inventory{
  width:100%;
}

/* Sidebar */

.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #2e353d;
  position: fixed;
  top: 0px;
  /*width: 300px;*/
  height: 100%;
  color: #e1ffff;
}
.nav-side-menu .brand {
  background-color: #23282e;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  /*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;

}
.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }

  #infos_user{
    display:none;
  }
}
@media (min-width: 768px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }

  #infos_user{
    display:block;
  }
}

#infos_user{
  font-size:26px;
}

#nb_msg{
  margin-right: 8px;
  margin-top: 8px;
  float:right;
}

#mobile_qty_gallions{
  font-size:21px;
  float: right;
  margin-right: 50%;
  -webkit-transform: translate(50%);
     -moz-transform: translate(50%);
      -ms-transform: translate(50%);
       -o-transform: translate(50%);
          transform: translate(50%);
}

.menu-adapt{
  padding-right: 70%;
  padding-top: 3%;
  padding-bottom: 3%;
}
/**/

/* USER PROFILE PAGE */
 .card {
    margin-top: 20px;
    padding: 30px;
    background-color: rgba(214, 224, 226, 0.2);
    -webkit-border-top-left-radius:5px;
    -moz-border-top-left-radius:5px;
    border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-top-right-radius:5px;
    border-top-right-radius:5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 1);
}
.card.hovercard .card-background {
    height: 260px !important;
}
.card-background img {
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px);
    margin-left: -100px;
    margin-top: -200px;
    min-width: 130%;
}
.card.hovercard .useravatar {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
}
.card.hovercard .useravatar img {
    width: 150px;
    height: 150px;
    /*max-width: 100px;
    max-height: 100px;*/
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}
.card.hovercard .card-info {
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
}
.card.hovercard .card-info .card-title {
    padding:0 5px;
    font-size: 20px;
    line-height: 1;
    color: #262626;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.card.hovercard .card-info {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}
.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}
.btn-pref .btn {
    -webkit-border-radius:0 !important;
}

#member_title{
  font-style: italic;
}

#pseudo_profile{
  font-size:48px;
  color: white;
  text-shadow: 1px 2px 3px rgba(0,0,0, 0.5);
  text-transform: capitalize;
  line-height: 1;
}

#points_membre{
  font-size:38px;
}

#registration_date{
  font-size:16px;
  font-style:italic;
}

.card-titre{
  margin-top:18px;
}

.rank-label-container {
    margin-top: -19px;
    /* z-index: 1000; */
    text-align: center;
}

.label.label-default.rank-label {
    background-color: rgb(81, 210, 183);
    padding: 5px 10px 5px 10px;
    border-radius: 27px;
    font-size:16px;
}

#zone_points{

  text-shadow: 1px 2px 3px rgba(0,0,0, 0.5);

}

#deconnexion{
  bottom:0;
  position:absolute;
}

/********************************/
/*          Potions CSS         */
/********************************/

#zone_ingredients{
  background-color:red;
  height:300px;
}

#zone_chaudron{
  background-color:green;
  height:300px;
}

#zone_recettes{
  background-color:blue;
  height:300px;
}

/********************************/
/*        Quidditch CSS         */
/********************************/

.card_quidditch{
  margin-bottom:15px;
  width:150px;
}

.logo_team{
  width:36px;
  margin-right:10px;
}

.rankpoints{
  font-weight: 800;
}

#timer_quidditch{
  font-size: 56px;
}

#infos_timer{
  margin-left:29px;
}

#timer_day{
  margin-right: 31px;
}

#timer_hours{
  margin-right: 23px;
}

#timer_minutes{
  margin-right: 16px;
}

#timer_seconds{
  margin-right: 16px;
}

#directmatches{
  margin-top:20px;
}